<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no,
                                   minimal-ui">

  <meta http-equiv="Content-Language" content="en">
  <meta name="author" content="Brooke Simmons">

  <title>axon-one</title>
  <link rel="stylesheet" type="text/css" href="/nervousnet-axon-resources/styles.css">
</head>
<body>

<div class="app-page" data-page="home">
	<div class="app-topbar orange">
		<div class="app-title">My Town</div>
	</div>

	<div class="app-content">
		<div class="app-section">
			<div id="sensordata" style="overflow:hidden">
        <img src="beach.jpg" width="200" alt="" />
      </div>
		</div>

		<div class="app-section">
      Questions answered: 0
			<div class="app-button red">Button 1</div>
			<div class="app-button green">Button 2</div>
			<div class="app-button blue">Button 3</div>
		</div>
	</div>
</div>

<div class="app-page" data-page="bart-question">
	<div class="app-topbar green">
		<div class="app-title">Question from BART</div>
	</div>

	<div class="app-content">
		<div class="app-section">
			<div id="sensordata" style="overflow:hidden">
        &nbsp;
      </div>
		</div>

		<div class="app-section">
      BART will shortly need to close the FooBar station for a 12-hour period for urgent maintenance. We plan to close for one evening this month. Which day of the week would cause the least inconvenience for you?

      <!--
      <div class="survey-answers">
        <div class="form-group">
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Monday" ng-model="formData.chickenEgg">
                  Monday
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Tuesday" ng-model="formData.chickenEgg">
                  Tuesday
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Wednesday" ng-model="formData.chickenEgg">
                  Wednesday
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Thursday" ng-model="formData.chickenEgg">
                  Thursday
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Friday" ng-model="formData.chickenEgg">
                  Friday
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Saturday" ng-model="formData.chickenEgg">
                  Saturday
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="q1_ans" value="Sunday" ng-model="formData.chickenEgg">
                  Sunday
              </label>
          </div>
        </div>
      -->

          <label>Comments?</label>
          <!-- <input class="app-input" name="comments"> -->

			<div class="app-button green">Submit</div>
		</div>
	</div>
</div>


  <script type="text/javascript" src="/nervousnet-axon-resources/libs.js"></script>
  <script type="text/javascript" src="axon.js"></script>
</body>
</html>
